<template>
  <div id="projects-cont">
    <div class="section">
      <p class="section__title main_title">Проекты поддержки</p>
      <div class="cards__container">
        <div class="card" v-for="index in commentsToShow" :key="index.id">
          <div class="flex_">
            <div :class="{
              'line_card red_line_': (Support[index - 1].burning_count) / Support[index - 1].progress >= 0.5, 'line_card': (Support[index - 1].burning_count) / Support[index - 1].progress <= 0.5
            }"></div>
            <div class="card_section">
              <p class="card__title">{{ Support[index - 1].title }}</p>
              <div class="flex_">
                <h3>
                  {{ Support[index - 1].progress }}
                </h3>
                <div class="flex_">
                  <p class="red_">{{ Support[index - 1].burning_count }}</p>
                  <img class="flame_icon" src="../assets/images/flame.svg" alt="">
                </div>
                <div class="flex_secondary">
                  <div class="loader">
                    <div
                      :style="{ 'width': (100 * Support[index - 1].burning_count) / Support[index - 1].progress + '%' }"
                      :class="{ 'coral_': (Support[index - 1].burning_count) / Support[index - 1].progress <= 0.5 }">
                    </div>
                  </div>
                  <p class="card__title">{{ Support[index - 1].time_fakt }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button v-if="this.commentsToShow < this.Support.length" @click="Toogle()">Показать еще</button>
    <button v-else @click="Toogle()">Cкрыть</button>
  </div>

</template>

<script>
import "~/assets/css/projects-cont.css";

export default {
  data() {
    return {
      Support: [{
        title: "Сбербанк",
        progress: 8,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "02:30"
      },
      {
        title: "Сбербанк",
        progress: 8,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "02:30"
      },
      {
        title: "Росбанк",
        progress: 9,
        burning_count: 7,
        inwork_count: 8,
        time_fakt: "07:20"
      },
      {
        title: "Росбанк",
        progress: 9,
        burning_count: 7,
        inwork_count: 8,
        time_fakt: "07:20"
      },
      {
        title: "ВТБ",
        progress: 25,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "04:43"
      },
      {
        title: "Сбербанк",
        progress: 25,
        burning_count: 5,
        inwork_count: 58,
        time_fakt: "02:30"
      },
      {
        title: "Росбанк",
        progress: 90,
        burning_count: 3,
        inwork_count: 8,
        time_fakt: "07:20"
      },
      {
        title: "Росбанк",
        progress: 90,
        burning_count: 3,
        inwork_count: 8,
        time_fakt: "07:20"
      },
      {
        title: "ВТБ",
        progress: 25,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "04:43"
      },
      {
        title: "TBC",
        progress: 8,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "04:43"
      },
      {
        title: "Сбербанк",
        progress: 25,
        burning_count: 5,
        inwork_count: 58,
        time_fakt: "02:30"
      },
      {
        title: "Росбанк",
        progress: 90,
        burning_count: 3,
        inwork_count: 8,
        time_fakt: "07:20"
      },
      {
        title: "ВТБ",
        progress: 25,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "04:43"
      },
      {
        title: "TBC",
        progress: 8,
        burning_count: 7,
        inwork_count: 58,
        time_fakt: "04:43"
      },
      ],
      commentsToShow: 6,
      totalComments: 0
    };
  },
  computed: {
  },
  methods: {
    Toogle() {
      // console.log(this.Support.length);
      if (this.commentsToShow < this.Support.length) {
        this.commentsToShow += 6
        if (this.commentsToShow > this.Support.length) {
          this.commentsToShow = this.Support.length
          return
        }
      }
      if (this.commentsToShow == this.Support.length) {
        this.commentsToShow = 6
      }


    }
  },
  mounted() {
    this.totalComments = this.Support.length

  }

};
</script>

<style>
</style>