<template>
  <div class="index">
    <div class="section">
      <BalanceCont />
      <div class="line"></div>
      <ProjectsCont />
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
};
</script>
